.search_form {
    width: 50%;
    height: 50px;
    background-color: #FFCD5D;
    margin: 0 auto;
    position: relative;
    min-width: 390px;
    background-image:
    linear-gradient(to bottom, rgb(255,198,55) 0%,
    rgb(233,181,48) 100%);
}
.search_form:after {
    width: 0;
    height: 0;
    margin: 0px;
    content: "";
    border-top: 25px solid;
    border-right: 25px solid;
    border-bottom: 25px solid;
    border-left: 15px solid;
    border-color: transparent transparent transparent #FFCD5D;
    left: 100%;
    top: 0;
    position: absolute;
}
.text_search_field {
    width: 83%;
    margin-left: 4px;
    margin-top: 4px;
}
input {
    display: inline-block;
}
